<?xml version="1.0" encoding="utf-8" ?>
<inky:Application xmlns:inky="http://inkyframework.com/2008/inky"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://inkyframework.com/2008/inky http://schemas.inkyframework.com/2008/inky.xsd"
    inky:base="./">

    <inky:Section name="${1:main}" inky:class="com.hzdg.${2:project}.${3:sections}.${4:Main}">
        <inky:Route path="${5:#}" />
		$0
    </inky:Section>

</inky:Application>